@using Nebuteater.Web.Extensions
@model Nebuteater.Models.ViewModels.Account.ForgotPasswordConfirmationViewModel

<hgroup class="title">
    <h1>@Model.Title</h1>
</hgroup>
<div>
    <p>Du har blitt tilsendt en e-post med instrukser for å tilbakestille passord.</p>
    @if (Html.IsInDeveloperMode())
    {
        <p class="text-danger">
            Kun i Utviklermodus:
            Klikk denne lenken for å resette passordet: <a href="@Model.ResetPasswordLink">reset</a>
            Dersom denne vises i prod, sjekk appSettings med nøkkel "DeveloperMode" i Web.config
        </p>
    }
</div>