@model Nebuteater.Models.ViewModels.Account.ResetPasswordConfirmationViewModel

<hgroup class="title">
    <h1>@Model.Title</h1>
</hgroup>
<div>
    <p>
        Ditt passord er tilbakestilt. @Html.ActionLink("Klikk her for å logge inn.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
